@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.logo img {
    padding-top: 25px;
    margin: auto;
    text-align: center;
    display: block;
    max-width: 100%;
    height: 400px;
}

.main h1 {
    line-height: 0;
    padding-bottom: 25px;
    font-size: 4em;
    text-align: center;
}

.main p {
    line-height: 0;
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px;
}

.btn {
    margin-bottom: 20px;
    display: block;
    width: 230px;
    height: 75px;
    border: 1px solid #000000;
    overflow: hidden;
    color: #000000;
    line-height: 80px;
    text-transform: capitalize;
    text-align: center;
    margin: auto;
    z-index: 1;
    border-radius: 3px;
    font-size: 1.2em;
    position: relative;
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
}

/*-------------- hover types --------------*/
[data-type]:before {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: -1;
}

[data-type]:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    color: #ffffff;
    z-index: 8;
}

/*--------position aware -----------*/
[data-type="pos_aware"]:before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    display: block;
    width: 40px;
    height: 40px;
    background: #000000;
    border-radius: 50px;
}

[data-type="pos_aware"]:hover:before {
    -webkit-transform: scale(8.3);
    transform: scale(8.3);
}


