h1 {
    font-size: 25px;
    color: #000;
    text-align: center;
}

.control-group {
    text-align: center;
    margin-top: 10px;
    color: #000;
    font-size: 20px;
    line-height: 1.7;
}


[data-type]:before {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: -1;
}

[data-type]:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    color: #ffffff;
    z-index: 8;
}

/*--------position aware -----------*/
[data-type="pos_aware"]:before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    display: block;
    width: 40px;
    height: 40px;
    background: #000000;
    border-radius: 50px;
}

[data-type="pos_aware"]:hover:before {
    -webkit-transform: scale(8.3);
    transform: scale(8.3);
}

.container {
    width: 500px;
    margin: 20px auto;

}