*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #333;
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 20px;
}

a {
    text-decoration: none;
    transition: all 0.3s linear 0s;
}

.area {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .area {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .area {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .area {
        width: 1140px;
    }
}

.navbar-component {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.navbar-component > .navbar {
    justify-content: space-between;
}

.navbar > .brand {
    display: block;
    font-size: 16px;
    color: #777;
    margin: 22px;
}

.navbar > .toggle {
    outline: none;
    border: 0;
    display: inline-block;
    background-color: transparent;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    padding: 22px;
}

@media (min-width: 768px) {
    .navbar > .toggle {
        display: none;
    }
}

.navbar > .toggle > .icon {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar > .toggle > .icon,
.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
    display: block;
    width: 24px;
    height: 3px;
    transition: background-color 0.3s linear, transform 0.3s linear;
    background-color: #555555;
}

.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
    position: absolute;
    content: "";
}

.navbar > .toggle > .icon:before {
    top: -8px;
}

.navbar > .toggle > .icon:after {
    top: 8px;
}

.navbar > .toggle.-active > .icon {
    background-color: transparent;
}

.navbar > .toggle.-active > .icon:before {
    transform: translateY(8px) rotate(45deg);
}

.navbar > .toggle.-active > .icon:after {
    transform: translateY(-8px) rotate(-45deg);
}

.navbar > .list {
    display: none;
    flex-flow: row nowrap;
    align-items: center;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .navbar > .list {
        display: flex;
    }
}

@media (max-width: 768px) {
    .navbar > .list {
        position: fixed;
        top: 64px;
        left: 0;
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        border-top: 1px solid #dddddd;
        background-color: #ffffff;
    }
}

.navbar > .list.-on {
    display: flex;
}

.navbar > .list > .item {
    display: block;
    flex-shrink: 0;
    height: 64px;
    line-height: 64px;
    padding-left: 22px;
    padding-right: 22px;
    text-transform: uppercase;
    color: #555555;
    font-size: 14px;
}

.navbar > .list > .item.-link {
    line-height: 68px;
    color: #555555;
    border-bottom: 4px solid transparent;
}

.navbar > .list > .item.-link.-active,
.navbar > .list > .item.-link:hover,
.navbar > .list > .item.-link:focus {
    color: #333333;
    border-bottom-color: #000;
}

h3 {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

input {
    border: 1px solid #95A5A6;
    width: 100%;
    vertical-align: middle;
    height: 37px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
}

.form {
    display: inline-block;
}

.container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    overflow: hidden;
}

@media handheld, only screen and (max-width: 767px) {
    .container {
        margin: 0;
        padding: 0;
    }
}

.text-center {
    text-align: center;
}

.item-warning {
    color: #F22613;
}

.button-red {
    color: #000;
    background: rgba(255, 255, 255, 0);
    padding: 7px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #000000;
    -moz-user-select: none;
}

.button-red:hover {
    background: #000000;
    text-decoration: none;
    color: #fff;
}

@media (max-width: 480px) {
    .button-group {
        float: none !important;
        display: block !important;
    }
}

#wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -90px;
    padding: 0 0 90px;
}

.small-text {
    font-size: 11px;
    color: #a4a4a4;
}

.timetable {
    width: 100%;
    border-spacing: 1px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.timetable-head {
    width: 100%;
    display: block;
    color: #FFF;
    border-left: 1px solid #3372DF;
    border-right: 1px solid #3372DF;
    background: none repeat scroll 0% 0% #3372DF;

    padding: 10px 26px 10px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.timetable-head-light {
    width: 100%;
    display: block;
    border-bottom: 1px solid #cccccc;

    padding: 10px 26px 10px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.timetable-cell {
    width: 100%;
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 16px;
    font-size: 14px;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    color: rgb(111, 111, 111);
}

#background {
    color: #a4a4a4;
    opacity: 0.7;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: 35%;
    left: 90%;
    bottom: 0%;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

#background-exam {
    color: #a4a4a4;
    opacity: 0.7;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 35%;
    left: 85%;
    bottom: 0%;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

#background-exam-sad {
    color: #e74c3c;
    opacity: 0.7;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 85%;
    bottom: 0%;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

@media (max-width: 600px) {
    #background-exam {
        left: 60%;
    }

    #background-exam-sad {
        left: 60%;
    }
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

#nearestLesson {

}

.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #000;
    background: #eeeeee;
    font-weight: 700;
    text-align: center;
    padding: 10px 10px;
    position: absolute;
    top: 4px;
    right: 5px;
    display: none;
    cursor: pointer;
    border: 1px solid #eeeeee;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

/*Hide checkbox*/
input[type=checkbox] {
    display: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@media screen and (max-width: 480px) {
    /*Display 'show menu' link*/
    .show-menu {
        display: inline-block;
        float: right;
    }

    /*Show menu when invisible checkbox is checked*/
    input[type=checkbox]:checked ~ .header-menu {
        display: block !important;

    }

    .header-logo {
        float: none;
        display: inline-block;
    }

    ul.header-items {
        padding: 0 !important;
        float: none !important;
    }

    ul.header-items > li > a {
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 10px;
        border-top: 2px solid rgba(255, 255, 255, 0.3);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }

    ul.header-items {
        text-align: center;
    }

    input {
        margin-bottom: 8px;
        margin-top: 8px;
    }

}

.rating-title {

    text-align: center;
    min-width: 200px;
    margin-top: 13px;
    /* margin-left: 10px;*/

}

.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 250px;
    height: 50px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}

.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjMzM3MkRGIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}

.star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}

.star-rating input:hover + i,
.star-rating input:checked + i {
    opacity: 1;
}

.star-rating i ~ i {
    width: 40%;
}

.star-rating i ~ i ~ i {
    width: 60%;
}

.star-rating i ~ i ~ i ~ i {
    width: 80%;
}

.star-rating i ~ i ~ i ~ i ~ i {
    width: 100%;
}

.choice {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    display: block;
}