* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.pagination a {
    border: 1px solid #ddd;
    margin: 0 4px;
}

body {
    background-color: #ffffff;
    color: #333;
    height: 100vh;
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 20px;
}

a {
    text-decoration: none;
    transition: all 0.3s linear 0s;
}

div {
    overflow: auto;
    background-color: #fff;
}

h2 {
    font-size: 23px;
    color: #333333;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 15px;
    line-height: 30px;
}

h1 {
    padding: 10px;
    font-size: 36px;
    color: white;
}

h3 {
    color: white;
    font-size: 20px;
}

h3 a {
    color: #DB5C04;
}

li {
    list-style: none;
}

#wrapper {
    margin: 0px auto;
    text-align: center;
}

#paging_container1 {
    height: 320px;
}

#paging_container2 {
    height: 356px;
}

#paging_container3 {
    height: 190px;
}

#paging_container4 {
    height: 307px;
    overflow: hidden;
}

#paging_container8 .no_more {
    background-color: white;
    color: gray;
    cursor: default;
}

.ellipse {
    float: left;
}

.container {
    margin-top: 2px;
    padding: 20px;
    background-color: white;
}

.page_navigation, .alt_page_navigation {
    padding-bottom: 10px;
    text-align: center;

}

.page_navigation a, .alt_page_navigation a {
    padding: 3px 5px;
    margin: 2px;
    color: white;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 12px;
    background-color: #000000;
}

.active_page {
    background-color: white !important;
    color: black !important;
}

.content, .alt_content {
    color: black;
    border: 1px solid;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}

.content li, .alt_content li, .content > p {
    padding: 10px
}

.area {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .area {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .area {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .area {
        width: 1140px;
    }
}

.navbar-component {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.navbar-component > .navbar {
    justify-content: space-between;
}

.navbar > .brand {
    display: block;
    font-size: 16px;
    color: #777;
    margin: 22px;
}

.navbar > .toggle {
    outline: none;
    border: 0;
    display: inline-block;
    background-color: transparent;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    padding: 22px;
}

}
.navbar > .toggle > .icon {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar > .toggle > .icon,
.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
    display: block;
    width: 24px;
    height: 3px;
    transition: background-color 0.3s linear, transform 0.3s linear;
    background-color: #555555;
}

.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
    position: absolute;
    content: "";
}

.navbar > .toggle > .icon:before {
    top: -8px;
}

.navbar > .toggle > .icon:after {
    top: 8px;
}

.navbar > .toggle.-active > .icon {
    background-color: transparent;
}

.navbar > .toggle.-active > .icon:before {
    transform: translateY(8px) rotate(45deg);
}

.navbar > .toggle.-active > .icon:after {
    transform: translateY(-8px) rotate(-45deg);
}

@media (min-width: 768px) {
    .navbar > .list {
        display: flex;
    }
}

@media (max-width: 768px) {
    .navbar > .list {
        display: flex;
    }
}

.navbar > .list.-on {
    display: flex;
}

.navbar > .list > .item {
    display: block;
    flex-shrink: 0;
    height: 64px;
    line-height: 64px;
    padding-left: 22px;
    padding-right: 22px;
    text-transform: uppercase;
    color: #555555;
    font-size: 14px;
}

.navbar > .list > .item.-link {
    line-height: 68px;
    color: #555555;
    border-bottom: 4px solid transparent;
}

.navbar > .list > .item.-link.-active,
.navbar > .list > .item.-link:hover,
.navbar > .list > .item.-link:focus {
    color: #333333;
    border-bottom-color: #000000;
}

.main {
    text-align: center;
    margin-top: 50px;
}

.logo img {
    margin: auto;
    text-align: center;
    display: block;
    max-width: 100%;
    height: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.timetable-cell {
    width: 100%;
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 16px;
    font-size: 14px;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    color: rgb(111, 111, 111);
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.well {
    margin: auto;
    display: block;
    height: 293px;
    width: 700px;
}

.glyphicon {
    margin-right: 5px;
}

.rating .glyphicon {
    font-size: 22px;
}

.rating-num {
    margin-top: 50px;
    font-size: 100px;
}

.rating-desc {
    margin-top: 50px;
}

.progress {
    margin-bottom: 10px;
}

.progress-bar {
    text-align: left;
}

.rating-desc .col-md-3 {
    padding-right: 0px;
}

.sr-only {
    margin-left: 5px;
    overflow: visible;
    clip: auto;
}

.well {
    margin: auto;
    display: block;
    height: 293px;
    width: 700px;
}

.glyphicon {
    margin-right: 5px;
}

.rating .glyphicon {
    font-size: 22px;
}

.rating-num {
    margin-top: 50px;
    font-size: 100px;
}

.rating-desc {
    margin-top: 50px;
}

.progress {
    margin-bottom: 10px;
}

.progress-bar {
    text-align: left;
}

.rating-desc .col-md-3 {
    padding-right: 0px;
}

.sr-only {
    margin-left: 5px;
    overflow: visible;
    clip: auto;
}

.hidden {
    display: none;
}
